{% extends "my-layout.html" %}

{% block content %}

	<div class="inner cover">
		<h1 class="cover-heading">Contacto</h1>
		
		<hr/>

		<div class="media">
			<div class="media-left media-middle">
				<a href="#">
				<img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/378800000503895142/6e895d27695ea6614ef1e8b1338d6f95_400x400.png" alt="...">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">@R_SilNav</h4>
				<p class="text-left">Uno de los cofundadores de esta página y un enamorado de Flask. Sus aficiones son la programación y desarrollo web, hacer turismo rural y aprender cosas nuevas. Le gusta viajar casi tanto como las golosinas. Su mayor logro ha sido salir de Bronce en League of Legends.</p>
			</div>
		</div>

		<hr/>


		<div class="media">


			<div class="media-body">
				<h4 class="media-heading">@luiscbr92</h4>
				<p class="text-left">Cofundador de la página que estás visitando ahora mismo. Reciente víctima de un ataque Hasselhoff y ávido de venganza.</p>
			</div>

			<div class="media-right media-middle">
				<a href="#">
				<img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/378800000543653388/18232c5fdae32103306d45bff44dea31_400x400.jpeg" alt="...">
				</a>
			</div>

		</div>

		<hr/>
	</div>

{% endblock %}