{% extends "my-layout.html" %}

{% block content %}

          <div class="inner cover">
            <h1 class="cover-heading">UVa Questionator</h1>
            <p class="lead">Irónicamente, la carrera de informática carece de medios y herramientas de ayuda a examenes, como tests, pruebas preliminares, forma de compartir apuntes, etc. Y qué mejor forma para suplir estas necesidades que los propios alumnos colaborando para que ellos mismos y la gente que venga detrás tengan un empujón extra en las asignaturas más complicadas.</p>
            <p class="lead">Por el momento solamente está disponible la opción de hacer unos tests sobre ciertos temas de física. No es gran cosa, pero esperamos ofrecer más cosas en un futuro como:
            <ul>
              <li>Perfiles de usuario</li>
              <li>Estadísticas personales</li>
              <li>Historial y seguimiento de progreso</li>
              <li>Preguntas de todos los temas de física (Unas 200 en total aproximadamente)</li>
              <li>Soporte Latex completo para poder ver las fórmulas correctamente</li>
              <li>Posibilidad de que incluyáis vuestras propias preguntas y respuestas</li>
              <li>Extensión a más asignaturas que puedan ayudarse de este sistema (Básicamente todas)</li>
              <li>Posible soporte para el uso de los profesores</li>
              <li>Plataforma de intercambio de apuntes</li>
            </ul>
            </p>
          </div>

<div class="bs-callout bs-callout-danger" id="callout-glyphicons-dont-mix">
    <h4>Don't mix with other components</h4>
    <p>Icon classes cannot be directly combined with other components. They should not be used along with other classes on the same element. Instead, add a nested <code>&lt;span&gt;</code> and apply the icon classes to the <code>&lt;span&gt;</code>.</p>
  </div>
          

{% endblock %}
