{% extends "my-layout.html" %}

{% block content %}

          <div class="inner cover">
            <h1 class="cover-heading">UVa Questionator</h1>
            <p class="lead">Irónicamente, la carrera de informática carece de medios y herramientas de ayuda a examenes, como tests, pruebas preliminares, forma de compartir apuntes, etc. Y qué mejor forma para suplir estas necesidades que los propios alumnos colaborando para que ellos mismos y la gente que venga detrás tengan un empujón extra en las asignaturas más complicadas.</p>
            <p class="lead">Por el momento solamente está disponible la opción de hacer unos tests sobre ciertos temas de física. No es gran cosa, pero esperamos ofrecer más cosas en un futuro como:
            </p>

            <div class="bs-callout bs-callout-success">
              <h4>Implementadas</h4>
              <p>Todo ésto ya está disponible en la página. Disfrutadlo mientras podáis y no olvidéis mandarnos algún mensaje si veis algo mejorable.</p>
              <ul class="text-left">
                <li>Páginas base para Inicio, Preguntame y Contacto</li>
                <li>Sistema inicial de preguntas y respuestas</li>
                <li>Preguntas sobre los temas:</li>
                <ul>
                  <li>Electrocinética</li>
                  <li>Carga/Masa del electrón</li>
                  <li>Corriente alterna</li>
                </ul>
                <li>Soporte LaTeX para entender mejor las fórmulas planteadas</li>
              </ul>
            </div>

            <div class="bs-callout bs-callout-info" id="callout-glyphicons-dont-mix">
              <h4>En proceso</h4>
              <p>Nuestra prioridad a corto-medio plazo. Estamos trabajando actualmente en estas características y las tendréis disponibles a medida que se vayan completando.</p>
              <ul class="text-left">
                <li>Preguntas de todos los temas de física (Unas 200 en total aproximadamente)</li>
              </ul>
            </div>

            <div class="bs-callout bs-callout-warning" id="callout-glyphicons-dont-mix">
              <h4>Planeadas</h4>
              <p>Posibles mejoras de este proyecto con vistas de futuro. Todo aquel que quiera ayudar con alguno de estos apartados y tenga ideas o afán de aprender, es bienvenido.</p>
              <ul class="text-left">
                <li>Perfiles de usuario</li>
                <li>Estadísticas personales</li>
                <li>Historial y seguimiento de progreso</li>
                <li>Posibilidad de que incluyáis vuestras propias preguntas y respuestas</li>
                <li>Extensión a más asignaturas que puedan ayudarse de este sistema (Básicamente todas)</li>
                <li>Posible soporte para el uso de los profesores</li>
                <li>Plataforma de intercambio de apuntes</li>
              </ul>
            </div>

            <div class="bs-callout bs-callout-danger" id="callout-glyphicons-dont-mix">
              <h4>Rechazadas</h4>
              <p>Ideas descabelladas que han sido descartadas por unas u otras razones. Si alguien cree que es conveniente rescatar alguna de ellas, puede ponerse en contacto con nosotros.</p>
              <ul class="text-left">
              </ul>
            </div>

          </div>


          

{% endblock %}
