{% extends "my-layout.html" %}

{% block content %}

          <div class="inner cover">

            {% if not session['harespondido'] %}

            <h1 class="cover-heading">Pregunta número {{ numero }}</h1>
            <p class="lead">{{ pregunta.frase }}</p>

            <div class="well">
              <ul style="margin-bottom:0px;" class="list-group">

                <a href="{{ url_for('answer', id=1) }}">
                  <li class="list-group-item">
                  {{ pregunta.res1 }}
                  </li>
                </a>

                <a href="{{ url_for('answer', id=2) }}">
                  <li class="list-group-item">
                  {{ pregunta.res2 }}
                  </li>
                </a>

                <a href="{{ url_for('answer', id=3) }}">
                  <li class="list-group-item">
                  {{ pregunta.res3 }}
                  </li>
                </a>

                <a href="{{ url_for('answer', id=4) }}">
                  <li class="list-group-item">
                  {{ pregunta.res4 }}
                  </li>
                </a>

              </ul>
            </div>

            {% else %}

              {% if session['acierto'] %}

                <h1 class="cover-heading">Has acertado</h1>
                <p class="lead">¡Llevas {{ session['numero'] }} aciertos seguidos!</p>

              {% else %}
                <h1 class="cover-heading">Has fallado</h1>
                <p class="lead">Has conseguido {{ session['numero'] }} aciertos seguidos</p>

              {% endif %}

              <p class="lead">
              <a href="{{ url_for('test') }}" class="btn btn-lg btn-success">Continuar</a>
              </p>

            {% endif %}

          </div>


{% endblock %}
